/* COMMON */
.ms_conteiner{
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}
h2, h3{
    text-align: center;
    text-transform: uppercase;
}
a:not(#info-link){
    text-decoration: none;
    color: white;
}
.star {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}
.star::before{
    content: ' ';
    width: 80px;
    height: 5px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}
.star::after{
    content: ' ';
    width: 80px;
    height: 5px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}
.blue-star{
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}
.blue-star::before{
    content: ' ';
    width: 80px;
    height: 5px;
    background-color: #2c3e50;
    display: inline-block;
    vertical-align: middle;
}
.blue-star::after{
    content: ' ';
    width: 80px;
    height: 5px;
    background-color:#2c3e50;
    display: inline-block;
    vertical-align: middle;
}
input.form-control, textarea.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 22px;
    padding-bottom: 20px;
}

/* HEADER */
header{
    height: 100px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
header nav {
    text-align: right;
}
header ul li{
    display: inline-block;
}

.logo{
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.burger{
    color: gray;
    font-size: 25px;
}
.burger i{ 
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}
.ms_main_menu li{
    margin: 0 10px;
}
.primary-color{
    background-color: #1abc9c;
    color: white;
}

/* JUMBOTRON */
.ms_jumbotron{
    padding: 2rem 0 1.5rem;
}
.jumbotron-img{
    width: 300px;
    height: 300px;
    margin: 0 auto 1.5rem;
}
.jumbotron-content{
    text-align: center;
    margin: 0 0 2rem 0;
}
.jumbotron-content h1{
    font-size: 45px;
    font-weight: 600;
}

.third{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}


/* PORTFOLIO */
.ms_portfolio div{
    text-align: center;
    margin-bottom: 1.2rem;
    color: #2c3e50;
}
.ms_portfolio h2{
    margin: 3rem 0 1.2rem;
    font-weight: 600;
}
.ms_portfolio-content{
    margin-bottom: 1rem;
}
.ms_portfolio-content img{
    width: 100%;
    border-radius: 25px;
}

/* ABOUT */
.about{
    margin: 3rem 0;
    padding: 3rem 0 2rem;
}
.ms_container-about{
    width: 60%;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
}
.ms_container-about h2{
    font-weight: 600;
    text-transform: uppercase;
}
.ms_about-content{
    margin-bottom: 2rem;
    font-size: 20px;
}

.btn-down {
    color: white;
    border-color: white;
    width: fit-content;
    align-self: center;
    font-size: 20px;
  }

/* CONTACT */
.contact{
    padding-bottom: 2rem;
    color: #2c3e50;
}
#ok{
    height: 250px;
}
.form-control::placeholder{
    color: #2c3e50;
    font-size: 25px;
}


/* INFO */
.info{
    background-color: #3a546d;
    padding: 3rem 0;
    color: white;
    text-align: center;
    font-size: 25px;
}
.info-link{
    padding: 10px;
    width: 65px;
    height: 65px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 42px;
    cursor: pointer;
    margin: 0 5px;

}
.ms_btn-contact{
    color: white;
    background-color: #1abc9c;
}
/* FOOTER */
footer{
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}