/* HEADER */
header{
    height: 100px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}
header nav {
    text-align: right;
}
header ul li{
    display: inline-block;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    color: white;
}
.burger{
    color: gray;
    font-size: 25px;
}
.burger i{ 
    border: 2px solid gray;
    padding: 7px;
    border-radius: 4px;
}
.ms_main_menu li{
    margin: 0 10px;
}
.ms_main_menu a{
    color: white;
    text-decoration: none;

}


/* JUMBOTRON */
.ms_jumbotron{
    background-color: #1abc9c;
}
.jumbotron-img{
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 3rem auto 1rem;
}
.jumbotron-content{
    text-align: center;
    margin: 0 0 2rem 0;
    color: white;
}
.first{
    font-size: 30px;
}
.second{
    font-size: 25px;
}